* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.menu {
  background: linear-gradient(to right, #1c93d8 60%, #a6d8f1);
}

#logo1 {
  max-width: 25%;
}

#logo2 {
  max-width: 5rem;
  margin: 6px;
}

#almohadas {
  max-width: 50%;
}
.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

section {
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

.btn-lg {
  width: 190px;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 1rem;
}

#logo2 {
  max-width: 5rem;
  margin: 6px;
}

.border {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.fondo {
  background-image: url(/Pagina/img/fondo\ 4.png);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
